/* Sýfýrlamalar */
body{margin: 0; padding: 0; font: 12px/19px Segoe UI; background: #eee}
ul,li,table,tr,td,span,input,ol,form,img,a{margin: 0; padding: 0; list-style-type: none; border: 0; text-decoration: none}
:focus{outline: none}
.temiz{clear: both}

@import url("login.css");

/* Header */
#header{height: 30px; padding: 5px; background-image: url("../images/header_bg.png")}
.header{margin: 0 auto; margin-top: 3px; text-align: center; color: #fff}
.yazi{font: 15px Segoe UI; color: #30fffd;}

/* Genel */
#genel{width: 980px; margin: 20px auto; margin-top: 150px}
	
	
	#sol{float: left; width: 420px; background: #333; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px}
	.resim{width: 400px; height: 250px; margin: 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px}

	#sag{float: right; width: 490px; padding: 5px; background: #333; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px}
	.icerik{margin: 15px; color: #fff}
	.buton_link{padding: 8px; position: relative; top: 5px; background: #00b4f2; color: #fff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px}
	.buton_link:hover{background: #008cbc}
	
	#footer {position: absolute; bottom: 0 ;  padding: 5px; width: 100%; height:30px; background: url(../images/header_bg.png)}
	.footer{text-align: center; color: #fff}
	
